{% extends "bases/base.html" %}
{% load static %}
{% block 'head' %}
<link href="{% static 'acessos/css/css.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'conteudo' %}
<br>
<br>
<div class="container">

    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}


    <div class="row">
        <div class="col-md-2 text-center">
            <img src="{% static 'geral/img/logo1.png' %}" width="100%" height="100%" alt="">

        </div>

        <div class="col-md-10">
            <h6 class="font-destaque-secundaria">CleanSepticPro</h6>
            <h3 class="font-destaque">Ativar Serviço DE Limpeza</h3>
        </div>



    </div>





    <div class="row">
        <div class="col-md-12 text-center">


            <p class="font-destaque-secundaria">
                Tem certeza de que deseja ativar o serviço de limpeza: "<b>{{servico.nome}}</b>"?
            </p>

        </div>
    </div>
    <br>



    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-5 " style="text-align: right;">
                <input type="submit" value="Confirmar" class="btn btn-primary">
            </div>
            <br>
            <div class="col-md-5 " style="text-align: left;">
                <a href="{% url 'lista-servicos' %}" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </form>




</div>
{% endblock %}