{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
<link href="{% static 'servicos/css/css.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'conteudo' %}
<div class="container">
    <br>
    <h3 class="font-destaque-secundaria"> <img width="10%" src="{% static 'geral/img/logo1.png' %}" alt="">
        CleanSepticPro
    </h3>

    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <div>
        <h3>Listagem de Serviços Solicitados pelo Cliente: {{ request.user.nome }}</h3>
        {% if not servicos %}
            <h4>Nenhum Serviço Solicitado</h2>
        {% else %}
        <table class="table">
            <thead>
                <tr class="table table-dark table-hover">
                    <th scope="col">Serviço</th>
                    <th scope="col">Atendente</th>
                    <th scope="col">Status</th>
                    <th scope="col">Forma de Pagamento</th>
                    <th scope="col">Criado em</th>
                    <th scope="col">Data de Limpeza</th>
                    <th scope="col">Tem desconto?</th>
                    <th scope="col">Valor Pago</th>
                </tr>
            </thead>
            <tbody>
                {% for servico in servicos %}
                <tr class="table-dark">
                    <td>{{ servico.servico }}</td>
                    <td>{{ servico.atendente }}</td>
                    <td>{{ servico.get_status_display }}</td>
                    <td>{{ servico.get_forma_pagamento_display }}</td>
                    <td>{{ servico.criado_em }}</td>
                    <td>{{ servico.data_limpeza }}</td>
                    <td>
                        {% if servico.valor_desconto is null %}
                            x
                        {% else %}
                            R$ {{ servico.valor_desconto }}
                        {% endif %}
                    </td>
                    <td>R$ {{ servico.valor_pago }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <div class="my-4">
            <a href="{% url 'cadastro-servico' %} " class="btn-custom">Novo Serviço</a>
        </div>
    </div>
</div>
{% endblock %}