{% extends "bases/base.html" %}
{% load static %}

{% block 'head' %}
<link href="{% static 'servicos/css/css.css' %}" rel="stylesheet">
{% endblock 'head' %}

{% block 'conteudo' %}
<div class="container">
    <br>
    <h3 class="font-destaque-secundaria"> <img width="10%" src="{% static 'geral/img/logo1.png' %}" alt="">
        CleanSepticPro
    </h3>

    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}

    <div class="row">
        <h3 class="font-destaque">Listagem de Serviços Solicitados <br>Cliente: {{ request.user.nome }}</h3>

        <div class="my-4">
            <a href="{% url 'cadastro-servico' %} " class="btn-default-link">Novo Serviço</a>
        </div>
        {% if not servicos %}
        <br>
        <h4 class="font-destaque">Nenhum Serviço Solicitado</h4>
        <br>
        {% else %}
        <table class="table">
            <thead>
                <tr class="table table-hover table-dark custom-table">
                    <th scope="col">Serviço</th>



                    <th scope="col">Endereço</th>
                    <th scope="col">Solicitado em</th>
                    <th scope="col">Data de Limpeza</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for servico in servicos %}
                <tr class="table-hover table-dark custom-table">
                    <td>{{ servico.servico }}</td>
                    <td>{% if servico.endereco %}
                        Endereço: {{ servico.endereco}}<br>
                        {% else %}
                        Endereço: {{ servico.cliente.endereco }}<br>
                        {% endif %}</td>
                    <td>{{ servico.criado_em }}</td>
                    <td>{{ servico.data_limpeza }}</td>

                    <td>{{ servico.badge_template }}</td>
                    <td align="center">
                        <!-- Botão "Ver Detalhes" -->
                        <button class="btn-default-link2  ver-detalhes">Ver Detalhes</button>
                    </td>
                </tr>
                <tr class="detalhes table-hover table-dark custom-table">

                    <!-- Seção de detalhes oculta -->
                    <td colspan="8">
                        Atendente:
                        {% if servico.atendente %}
                        {{ servico.atendente }}<br>
                        {% else %}
                        Sem Atendente até o momento. <br>
                        {% endif %}

                        {% if servico.endereco %}
                        Endereço: {{ servico.endereco}}<br>
                        {% else %}
                        Endereço: {{ servico.cliente.endereco }}<br>
                        {% endif %}





                        Forma de Pagamento: {{ servico.get_forma_pagamento_display }}<br>

                        Valor Serviço..: {{ servico.servico.preco_formatado }}<br>
                        {% if servico.valor_desconto is not null %}
                        Desconto: {{ servico.valor_desconto_formatado }}<br>
                        {% else %}
                        Desconto.......: R$ 0.00<br>
                        {% endif %}
                        Valor Total.....: {{ servico.valor_pago_formatado }}<br>


                    </td>

                </tr>

                {% endfor %}
            </tbody>
        </table>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $(document).ready(function () {

                $(".ver-detalhes").click(function () {
                    // Encontre a linha de detalhes associada ao botão clicado
                    var detalhes = $(this).closest("tr").next(".detalhes");

                    // Alterne a visibilidade dos detalhes
                    detalhes.toggle();
                    // Altere o texto do botão para alternar entre "Ver Detalhes" e "Ocultar Detalhes"
                    if (detalhes.is(":visible")) {
                        $(this).text("Ocultar");
                    } else {
                        $(this).text("Ver Detalhes");
                    }

                });

                $(".ver-detalhes").click();

            });
        </script>



        {% endif %}

    </div>
</div>
{% endblock %}